* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none !important;
    font-family: "Plus Jakarta Sans", sans-serif;
    scroll-behavior: smooth;
}

a {
    color: black;
}

header {
    background-color: white;
    border-bottom: 0.1px solid #3333334a;
}

.navbar {
    align-items: center;
    justify-content: space-between;
}

.navbar ul {
    margin: 0;
}

.navbar ul li a {
    font-size: 0.9em;
}

nav {
    width: 90%;
    margin: auto;
    /* display: flex; */
    /* justify-content: space-between; */
    padding: 5px 0px 5px 0px;
    /* align-items: center; */
}

nav ul {
    display: flex;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
    align-items: center;
    /* justify-content: end; */
}

nav ul li a {
    font-size: 0.9em;
    text-decoration: none;
    color: #5b6077;
    font-family: 100;
}

.menu-btn {
    display: flex;
    gap: 1em;
}

.menu-btn .online {
    background-color: #981D87;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 0.9em;
}

.menu-btn .login {
    background-color: #981D87;
    text-decoration: none;
    color: white;
    padding: 0px 10px;
    border-radius: 20px;
    font-weight: 500;
    font-size: 0.9em;
    padding: 5px 15px;
    display: none;
}

.search {
    background-color: #F5F6F6;
    padding: 5px;
    border-radius: 50%;
    border: 0.1px solid #3333334a;
    display: none;
}

.hamburger {
    background-color: #F5F6F6;
    padding: 5px;
    border-radius: 50%;
    border: 0.1px solid #3333334a;
    display: none;
}

.header2 {
    background-color: #FAFAFA;
    border-bottom: 0.1px solid #3333334a;
    padding: 10px 0px 10px 0px;
}

.header2 nav {
    display: flex;
    justify-content: space-between;
    /* padding: 0px 80px 0px 80px; */
}

.header2 ul {
    display: flex;
    gap: 1em;
    margin: 0;
}

.header2 ul li a {
    font-size: 0.9em;
    text-decoration: none;
    color: #5b6077;
    font-family: 100;
}

.search-icon {
    /* border: 2px solid red; */
    background-color: #981D87;
    color: white;
    padding: 5px;
    border-radius: 50%;
}

.menu-btn1 {
    display: none;
}

.menu-btn1 .login1 {
    background-color: #981D87;
    text-decoration: none;
    color: white;
    padding: 0px 10px;
    border-radius: 20px;
    font-weight: 500;
    font-size: 0.9em;
    padding: 5px 15px;
}

.accordion-header a {
    color: black;
}

.jeez {
    color: red;
}

@media(max-width:1368px) {
    nav {
        width: 95%;
    }
}

@media(max-width:1280px) {
    header nav {
        justify-content: space-between;
        gap: 0.5em;
    }

    .online {
        display: none;
    }

    .menu-btn .login {
        display: block;
    }

}

@media(max-width:1296px) {
    nav {
        width: 100%;
    }
}

@media(max-width:1200px) {
    .menu-btn {
        display: none;
    }
    .menu-btn .login {
        display: none;
    }

    .menu-btn1{
        display: block !important;   
    }
}

@media(max-width:1109px) {
    nav {
        width: 98%;
    }
}

@media(max-width:1024px) {
    header {
        padding: 5px 10px 5px 10px;
    }

    .logo {
        width: 130px;
    }

    .search {
        display: block;
    }

    .hamburger {
        display: block;
    }

    .header2 {
        display: none;
    }
}

@media(max-width:414px) {
    .menu-btn1 .login1 {
        display: none;
    }
}

.hero-wrapper {
    display:flex;
    align-items: center;
    padding-top: 90px;
    width: 90%;
    margin: auto;
    /* border: 2px solid purple; */
}

.hero-left {
    /* border: 2px solid red; */
    width: 70%;
}

.hero-left h1 {
    font-weight: bold;
    /* border: 2px solid green; */
    font-size: 3.5em;
    width: 60%;
    padding-top: 30px;
    padding-bottom: 20px;
}

.hero-left p {
    font-size: 1em;
    color: #5b6077;
    width: 60%;
}

.hero-left a {
    background-color: #981D87;
    text-decoration: none;
    color: white;
    padding: 15px 40px;
    border-radius: 30px;
    font-weight: 500;
    font-size: 0.9em;
}

@media(max-width:1024px) {
    .hero-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100% !important;
    }

    .hero-left {
        width: 85%;
        margin: auto;
        /* border: 2px solid red; */
    }

    .hero-left h1 {
        width: 100%;
        font-size: 2em;
    }

    .hero-left p {
        width: 100%;
    }

    .hero-right img {
        width: 700px;
    }
}


@media(max-width:768px) {
    .hero-wrapper {
        width: 100% !important;
    }

    .hero-left {
        width: 95%;
    }
    .hero-right img {
        width: 500px;
    }
}

@media(max-width:542px) {
    .hero-right img {
        width: 400px;
    }
}

@media(max-width:438px) {
    .hero-right img {
        width: 350px;
    }
}

@media(max-width:398px) {
    .hero-left h1 {
        width: 100%;
        font-size: 2em;
    }

     .hero-right img {
        width: 300px;
    }
}

@media(max-width:326px) {
    .hero-right img {
        width: 250px;
    }
}

.quote {
    background-image: url('../images/investbg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 40px 0px 20px 0px;
    margin-top: 50px;
}

.quote-wrapper {
    width: 90%;
    margin: auto;
    color: white;
    font-size: 0.9em;
}

.quote-wrapper .color {
    color: #EC49DE;
}

.quote-wrapper h2 {
    font-weight: bolder;
    padding-bottom: 20px;
}

.quote-wrapper .why {
    color: #EC49DE;
}

.quote-wrapper .demand {
    padding-bottom: 20px;
}

.corporate {
    padding-top: 50px;
}

.corporate .head {
    width: 90%;
    margin: auto;
    font-size: 1.8em;
    font-weight: bold;
    padding-bottom: 35px;
}

.corporate-wrapper {
    border: 2px solid blue;
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    padding: 20px 20px 20px 20px;
    border: 0.1px solid #3333334a;
}

.corporate-right {
    /* border: 2px solid green; */
    padding-left: 40px;
}
.corporate-right h1 {
    font-size: 1.5em;
    font-weight: bold;
    /* border: 2px solid orange; */
    width: 80%;
}

.corporate-right p {
    /* border: 2px solid blue; */
    font-size: 0.9em;
    color: #5b6077;
    width: 90%;
    margin-top: 30px;
    margin-bottom: 100px;
}

.corporate-right a {
    background-color: white;
    color: #BC3480;
    padding: 20px 25px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9em;
    border: 0.1px solid #3333334a;
}

@media(max-width:1024px) {
    .corporate-wrapper {
        flex-direction: column;
        width: 75%;
        margin: auto;
        padding: 20px 0px 40px 0px;
    }

    .corporate .head {
        width: 80%;
        margin: auto;
    }

    .corporate-left {
        margin-bottom: 40px;
    }

    .corporate-left img{
        width: 710px;
    }

    .corporate-right {
        width: 95%;
        margin: auto;
        padding: 0;
    }

    .corporate-right h1 {
        width: 100%;
    }

    .corporate-right p {
        width: 100%;
    }
}

@media(max-width:968px) {
    .corporate-left img{
        width: 670px;
    }
}

@media(max-width:912px) {
    .corporate-left img{
        width: 570px;
    }
}

@media(max-width:788px) {
    .corporate-wrapper {
        width: 85%;
        margin: auto;
    }
}

@media(max-width:786px) {
    .corporate-wrapper {
        width: 90%;
        margin: auto;
    }

    .corporate .head {
        width: 90%;
    }
}

@media(max-width:698px) {
    .corporate-left img{
        width: 470px;
    }
}

@media(max-width:572px) {
    .corporate-left img{
        width: 400px;
    }
}

@media(max-width:494px) {
    .corporate-left img{
        width: 350px;
    }
}

@media(max-width:430px) {
    .corporate-left img{
        width: 340px;
    }
}

@media(max-width:396px) {
    .corporate-left img{
        width: 320px;
    }
}

@media(max-width:391px) {
    .corporate-left img{
        width: 315px;
    }
}

@media(max-width:360px) {
    .corporate-left img{
        width: 300px;
    }
}

@media(max-width:330px) {
    .corporate-left img{
        width: 260px;
    }
}

.trade {
    /* border: 2px solid red; */
    background-image: url(../images/investbg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
    padding: 90px 0px 90px 0px;
}

.trade .head {
    width: 90%;
    margin: auto;
    font-size: 1.8em;
    font-weight: bold;
    padding-bottom: 35px;
    color: white;
}

.trade-wrapper {
    /* border: 2px solid blue; */
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    background-color: white;
    padding: 20px 20px 20px 0px;
}

.trade-left {
    color: black;
    padding-left: 30px;
}

.trade-left h1 {
    font-size: 1.4em;
    font-weight: bold;
}

.trade-left p {
    font-size: 0.9em;
    color: #5b6077;
    /* border: 2px solid blue; */
    width: 82%;
    margin-top: 30px;
    margin-bottom: 100px;
}

.more2 a {
    background-color: white;
    color: #BC3480;
    padding: 20px 25px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9em;
    border: 0.1px solid #3333334a;
}

@media(max-width:1024px) {
    .trade-wrapper {
        flex-direction: column-reverse;
        width: 75%;
        margin: auto;
        padding: 20px 10px 40px 10px;
    }

    .trade .head {
        width: 80%;
        margin: auto;
    }

    .trade-left {
        width: 10%;
        margin: auto;
        margin-top: 50px;
    }

    .trade-right img{
        width: 710px;
    }

    .trade-left h1 {
        width: 100%;
    }

    .trade-left p {
        width: 100%;
    }
}

@media(max-width:978px) {
    .trade-right img{
        width: 650px;
    }
}

@media(max-width:912px) {
    .trade-right img{
        width: 590px;
    }
}

@media(max-width:788px) {
    .trade-wrapper {
        width: 85%;
        margin: auto;
    }
}

@media(max-width:786px) {
    .trade-wrapper {
        width: 90%;
        margin: auto;
    }

    .trade .head {
        width: 90%;
    }
}

@media(max-width:698px) {
    .trade-right img{
        width: 470px;
    }

    .trade-left {
        width: 100%;
    }
}

@media(max-width:572px) {
    .trade-right img{
        width: 400px;
    }
}

@media(max-width:494px) {
    .trade-right img{
        width: 350px;
    }
}

@media(max-width:430px) {
    .trade-right img{
        width: 340px;
    }
}

@media(max-width:396px) {
    .trade-right img{
        width: 320px;
    }
}

@media(max-width:391px) {
    .trade-right img{
        width: 315px;
    }
}

@media(max-width:360px) {
    .trade-right img{
        width: 300px;
    }
}

@media(max-width:330px) {
    .trade-right img{
        width: 260px;
    }
}

.grid {
    margin-top: 50px;
    padding: 50px 0px 50px 0px;
    background-color: #FAFAFA;
}

.grid .head {
    width: 90%;
    margin: auto;
    font-size: 1.2em;
    font-weight: 1300;
    padding-bottom: 35px;
    color: #5b6077;
}

.grid-wrapper {
    /* border: 2px solid blue; */
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    justify-content: center;
    gap: 1em;
}

.grid-wrapper div {
    border: 0.1px solid #3333334a;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 25px 10px 25px 10px;
    gap: 0.5em;
    color: #5b6077;
    font-size: 0.9em;
}

.accordion {
    display: none;
}
@media(max-width:1273px) {
    .grid-wrapper {
        grid-template-columns: 250px 250px 250px 250px;
    }
}

@media(max-width:1076px) {
    .grid-wrapper {
        grid-template-columns: 220px 220px 220px 220px;
    }
}

@media(max-width:1024px) {
    .grid-wrapper {
        display: none;
    }

    .accordion {
        display: block;
        width: 90%;
        margin: auto;
        background-color: #FAFAFA;
    }

    .accordion-button {
        background-color: #FAFAFA;
        border-bottom: 1px solid #3333334a;
    }

    .accordion-body {
        background-color: #FAFAFA;
    }

    .accordion-body ul {
        padding: 0;
    }
    .accordion-body ul li {
        color: #5b6077;
        font-size: 0.9em;
        padding-top: 5px;
    }
}

footer {
    background-image: url('../images/investbg.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0px 10px 0px;
    /* margin-top: 50px; */
}

.footer-wrapper {
    display: flex;
    width: 85%;
    margin: auto;
}

.footer-wrapper .alone {
    color: white;
}

.store {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-top: 100px;
    margin-bottom: 138px;
}

.store p {
    font-size: 0.8em;
}

.footer-logo {
    padding-bottom: 20px;
}

.footer-icons {
    padding-top: 30px;
    display: flex;
    gap: 0.5em;
}

.footer-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5em;
    /* gap: 2em; */
    margin-left: 50px;
    flex-wrap: wrap;
}

.footer-grid h4 {
    font-size: 1em;
    color: white;
    font-weight: bold;
}

.footer-grid ul {
    padding: 0;
}

.footer-grid li {
    padding-top: 5px;
}

.footer-grid ul li a {
    font-size: 0.85em;
    color: #D4D4D4;
}

.contact {
    color: #D4D4D4;
}

.contact li {
    font-size: 0.85em;
}

.queryfooter {
    border-top: 2px solid white;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 85%;
    margin: auto;
    display: none;
}

.query-icons {
    display: flex;
    gap: 0.5em;
}

@media(max-width:1009px) {
    .footer-wrapper {
        width: 94%;
    }
}

@media(max-width:768px) {
    .footer-wrapper {
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }

    .footer-grid {
        width: 85%;
        margin: auto;
        grid-template-columns: 0.5fr 0.5fr;
        /* justify-content: center; */
        gap: 5em;
    }
    .alone {
        padding-left: 45px;
    }

    .footer-icons {
        display: none;
    }

    .store {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .reserved {
        display: none;
    }

    .queryfooter {
        margin-top: 20px;
        display: block;
        text-align: center;
    }

    .query-icons {
        align-items: center;
        justify-content: center;
        gap: 2em;
    }
}

@media(max-width:625px) {
     .footer-grid {
        width: 90%;
        gap: 2em;
    }
    .alone {
        padding-left: 35px;
    }
}

@media(max-width:497px) {
    .footer-grid {
        gap:0.5em;
    }
}

@media(max-width:453px) {
     .footer-grid {
        width: 95%;
        margin: auto;
    }

    .alone {
        padding-left: 10px;
    }
}

.the-end {
    background-color: white;
    color: #981D87;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px 0px 0px;
    font-size: 0.9em;
}

@media(max-width:416px) {
    .the-end {
        font-size: 0.7em;
    }
}

.wow:hover {
    transform: translateY(-10px);
    box-shadow: 0 9px 0px 0px rgba(0, 0, 0, 0.1);
}